.pushable {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-top: 35px;
  }

  .pushable:disabled {
  cursor: not-allowed;
}

.pushable:disabled .front {
  background-color: #ccc;
  color: #666; /* Altera a cor do texto para torná-lo menos proeminente */
}

.pushable:disabled .shadow {
  background: hsl(226, 25%, 69%);
}

.pushable:disabled .edge {
  background: linear-gradient(
    to right,
    hsl(0, 0%, 50%) 0%, /* Tom de cinza médio */
    hsl(0, 0%, 60%) 8%, /* Tom mais claro de cinza */
    hsl(0, 0%, 50%) 92%, /* Tom de cinza médio */
    hsl(0, 0%, 40%) 100% /* Tom mais escuro de cinza */
  );
}

  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(
      to right,
      hsl(18, 100%, 50%) 0%, /* Cor de referência */
      hsl(18, 100%, 40%) 8%, /* Tom mais claro */
      hsl(18, 100%, 50%) 92%, /* Cor de referência */
      hsl(18, 100%, 30%) 100% /* Tom mais escuro */
    );
  }
  
  .front {
    display: block;
    position: relative;
    border-radius: 8px;
    background-color: #ff5b00;
    padding: 16px 32px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .pushable:hover {
    filter: brightness(110%);
  }
  
  .pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }
  